@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto/Roboto-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto/Roboto-Italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto/Roboto-BoldItalic.ttf') format("truetype");
    font-weight: bold;
    font-style: italic;
}

:root {
    --primary: #233162;
    --secondary: #318AC3;
    --tertiary: #77C1E7;
    --quaternary: #E0EDE0;
    --quinary: #DEE2A6;
    --font: 'Roboto';
}

body {
    font-family: var(--font);
    background-color: var(--primary);
    color: var(--quaternary);
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

.button {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: 2rem;
    cursor: pointer;
    display: block;
}

.form {
    background-color: var(--quaternary);
    color: var(--primary);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2.5rem;
    margin: 2rem;
    display: inline-block;
}